/*Varibles*/
/*Mixin*/
/*Span*/
.span-blue, .span-blue:hover {
  background: #4376dd;
  color: #fefefe; }

.span-green, .span-green:hover {
  background: #15bb92;
  color: #fefefe; }

.span-red, .span-red:hover {
  background: #e52843;
  color: #fefefe; }

.span-pink, .span-pink:hover {
  background: #e52843;
  color: #fefefe; }

.span-yellow, .span-yellow:hover {
  background: #ffc801;
  color: #fefefe; }

/*Text*/
.text-yellow {
  color: #ffc801; }

.text-gray {
  color: #999999; }

.text-blue {
  color: #4376dd; }

.text-green {
  color: #15bb92; }

.text-red {
  color: #cd1b2c; }

.text-black {
  color: #393939; }

.text-white {
  color: #fefefe; }

.text-center {
  text-align: center; }

.text-bold {
  font-weight: bold; }

.text-italic {
  font-style: italic; }

.text-upper {
  text-transform: uppercase; }

/*margin*/
.margin-bottom-remove {
  margin-bottom: 0px; }

.margin-top-remove {
  margin-top: 0px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-top-10 {
  margin-top: 10px; }

.padding-both {
  padding-left: 15px;
  padding-right: 15px; }

/*Button*/
.btn-straight {
  border-radius: 0px; }

.btn-yellow, .btn-yellow:hover {
  background: #ffc801;
  color: #fefefe;
  border: 2px solid #ffc801; }

.btn-green, btn-green:hover {
  background: #15bb92;
  color: #fefefe;
  border: 2px solid #15bb92; }

.btn-feedback {
  margin-left: 5px; }

.btn-feedback-more, .btn-feedback-more:hover {
  background: #ffc801;
  color: black;
  text-shadow: none;
  border: 1px solid #ffc801;
  font-weight: 500; }

.btn-feedback-more:hover {
  font-weight: bold; }

/*Base*/
html {
  font-size: 62.5%;
  background: #f0eff5;
  -webkit-text-size-adjust: none;
  /*Disable coppy*/
  -moz-user-select: none;
  -webkit-user-select: none; }

body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #393939;
  font-size: 1.4rem;
  background: #f0eff5;
  margin-bottom: 50px; }

* {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

a, a:hover {
  text-decoration: none;
  cursor: pointer; }

a:focus, a:active {
  cursor: pointer;
  outline: none; }

.nav-route a:focus, .nav-route a:active {
  background: #cecece; }

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.clearfix {
  clear: both; }

/*Fix Safari*/
a, a:active, a:focus, a:hover {
  -webkit-tap-highlight-color: transparent; }

/*Fix UIKIT*/
.uk-container-simon {
  padding: 0 15px !important; }

.uk-navbar {
  border-radius: 0px;
  background: #fcfcfc;
  border: 1px solid transparent; }

.uk-navbar-nav > li > a {
  text-shadow: 0 0px 0 #fefefe; }

.uk-navbar-toggle {
  text-shadow: 0 0px 0 #fefefe; }

.uk-button {
  font-size: 1.4rem; }

.uk-panel-box {
  padding: 10px; }

.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li.uk-open > a {
  background-color: transparent;
  color: #393939;
  outline: none;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent; }

.menu-seting .icon-times {
  display: none; }

@media screen and (max-width: 414px) {
  .uk-offcanvas-bar {
    width: 100%; }

  .menu-seting .icon-times {
    display: block;
    position: absolute;
    top: 0;
    padding: 5px 15px;
    right: 0;
    font-size: 1.8rem;
    color: #999999; } }
/*Custom Emoji*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #fefefe; }

/*Screen scancode*/
.screen-scancode {
  height: 100%;
  width: 100%;
  background: #fefefe; }

.box-scancode {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  border-radius: 15px;
  border: 1px solid #ececec;
  height: 240px;
  margin-top: -120px;
  width: 330px;
  margin-left: -165px;
  background: #f6f5f4; }
  .box-scancode .head-box {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #ffc801;
    padding: 10px;
    font-size: 1.6rem;
    margin-bottom: 35px;
    border-bottom: 1px solid #f5c61c;
    border-top: 1px solid #f5c61c;
    border-left: 1px solid #f5c61c;
    border-right: 1px solid #f5c61c; }
  .box-scancode .foot-brand {
    margin-top: 45px;
    border-top: 1px solid #efefef; }
    .box-scancode .foot-brand .foot-brand-name {
      display: block;
      padding: 10px 0;
      color: #c3bfb8; }

/*Magic Emoji*/
.screen-magic {
  height: 100%;
  width: 100%;
  position: relative; }
  .screen-magic .brand-inapp {
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 18px;
    opacity: 0.6; }

@media screen and (min-width: 568px) {
  .screen-magic {
    overflow: hidden;
    /* or overflow:auto; if you want scrollbars */ } }
.word-tip {
  color: #999999;
  font-size: 3.2rem;
  margin-top: 5%;
  margin-bottom: 6%; }

@media (max-width: 568px) {
  .word-tip {
    font-size: 2.4rem;
    margin-bottom: 5px; } }
.box-emoji .emoji-item {
  margin: 15px;
  cursor: pointer; }
  .box-emoji .emoji-item .emoji {
    width: 219px; }
  .box-emoji .emoji-item .emoji-note {
    font-size: 1.8rem; }

@media screen and (max-width: 479px) {
  .box-emoji .emoji-item {
    margin: 10px; }
    .box-emoji .emoji-item .emoji {
      width: 100px; }
    .box-emoji .emoji-item .emoji-note {
      margin-top: 5px;
      margin-bottom: 0px; } }
/*Topic*/
.screen-topic .guide-box {
  background: #ffc801;
  padding: 8px 15px;
  border-bottom: 1px solid #dddddd; }
  .screen-topic .guide-box .guide {
    margin: 0px;
    color: #171c2f;
    font-weight: bold; }

.guide-box {
  background: #ffc801;
  padding: 8px 15px;
  border-bottom: 1px solid #dddddd; }
  .guide-box .guide {
    margin: 0px;
    color: #171c2f;
    font-weight: bold; }

.control-center {
  position: fixed;
  height: 48px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  padding: 3px 15px; }
  .control-center .uk-button {
    height: 43px;
    font-size: 1.8rem; }

.topic-box {
  padding: 15px 0px; }
  .topic-box .topic-item .box-overlay {
    border-radius: 100%;
    width: 128px;
    height: 128px;
    margin: 0 auto;
    position: relative; }
    .topic-box .topic-item .box-overlay .active {
      display: none; }
    .topic-box .topic-item .box-overlay .overlay {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 100%;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9; }
    .topic-box .topic-item .box-overlay .checked {
      position: absolute;
      top: 3px;
      right: 3px;
      z-index: 10; }
  .topic-box .topic-item .topic {
    border-radius: 100%;
    cursor: pointer;
    width: 128px;
    height: 128px; }
    .topic-box .topic-item .topic:focus, .topic-box .topic-item .topic:active {
      outline: none; }
  .topic-box .topic-item .topic-note {
    margin-top: 3px; }

/*Panel*/
.panel-box {
  margin-left: -15px; }

.panel {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px; }
  .panel .panel-name {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #dddddd;
    color: black;
    text-align: center;
    padding: 8px 0; }
  .panel .panel-body {
    padding-left: 0px;
    overflow-y: scroll;
    height: calc( 100vh - 150px); }
    .panel .panel-body .item {
      padding: 6px 3px;
      border-top: 1px solid #dddddd;
      border-left: 1px solid #dddddd;
      border-right: 1px solid #dddddd; }
      .panel .panel-body .item img.reason-thumbnail {
        width: 40px;
        height: 40px; }
      .panel .panel-body .item:last-child {
        border-bottom: 1px solid #dddddd; }
    .panel .panel-body .item.active {
      background: url("../images/icon/checked_reason_28.png") no-repeat right center;
      background-size: 18px 18px; }

/*Basic Choice reason*/
.container-flex {
  padding: 0 0px; }

.choice-reason {
  overflow-y: scroll;
  height: calc(100vh);
  border-right: 1px solid #dddddd; }
  .choice-reason .choice-name {
    background: #dddddd;
    color: black;
    text-align: center;
    padding: 10px 0; }
  .choice-reason .choice-body {
    padding-left: 0px; }
    .choice-reason .choice-body .item {
      padding: 6px 5px;
      border-bottom: 1px solid #dddddd; }
      .choice-reason .choice-body .item img.reason-thumbnail {
        width: 40px;
        height: 40px; }
      .choice-reason .choice-body .item:last-child {
        border-bottom: 1px solid #dddddd; }
    .choice-reason .choice-body .item.active {
      background: url("../images/icon/checked_reason_28.png") no-repeat right center;
      background-size: 18px 18px; }
      .choice-reason .choice-body .item.active .reason-thumbnail {
        -webkit-filter: grayscale(50%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(50%);
        opacity: 1; }

/*Feedback*/
.screen-feedback {
  height: 100%;
  width: 100%;
  background: black; }

.wrap-feedback {
  background: #fefefe;
  border-radius: 5px;
  margin-top: 15px; }
  .wrap-feedback .title-box {
    background: #ffc801;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px; }
    .wrap-feedback .title-box .title-text {
      margin: 0; }
  .wrap-feedback .feedback-form {
    padding: 15px; }

/*Screen Reason Feedback*/
.screen-reason .wrap-feedback {
  margin-top: 0px; }
  .screen-reason .wrap-feedback .title-box {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
  .screen-reason .wrap-feedback .grid-feedback {
    overflow-y: scroll;
    height: calc( 100vh - 70px); }

.help-block {
  margin-top: 15px;
  margin-bottom: 5px; }

.text-roar {
  font-size: 1.8rem;
  line-height: 2.2rem;
  display: block;
  padding-top: 5px;
  margin-bottom: -5px; }

.text-roar + .text-rule {
  padding-top: 7px;
  margin-bottom: 7px; }

.text-rule {
  opacity: 0.9; }

/*Screen Thanks*/
.screen-thanks {
  height: 100%;
  width: 100%;
  background: #0655a9;
  position: relative; }
  .screen-thanks .close-grab {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;
    padding: 10px 10px 30px 30px; }
  .screen-thanks .wrap-thanks {
    padding-top: 50px;
    padding-bottom: 50px; }
    .screen-thanks .wrap-thanks .img-checked {
      width: 80px; }
    .screen-thanks .wrap-thanks .say-thanks, .screen-thanks .wrap-thanks p {
      color: #fefefe; }
    .screen-thanks .wrap-thanks .say-thanks {
      font-size: 2.2rem; }
    .screen-thanks .wrap-thanks .tm-button-download {
      margin: 15px 0;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
      background: #fff;
      border: none;
      color: #2ba3d4 !important;
      padding: 0 20px;
      line-height: 40px;
      font-size: 18px;
      width: 219px; }

.reload {
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
