/*Varibles*/
$yellow: #ffc801;
$blue-drank: #171c2f;


$background: rgba(240, 239, 245, 1);
$gray: rgba(153, 153, 153, 1);
$gray-light: rgba(221, 221, 221, 1);
$white: rgba(254, 254, 254, 1);
$blue: rgba(67, 118, 221, 1);
$blue-light: rgba(41, 172, 228, 1);
$green: rgba(21, 187, 146, 1);
$red: rgba(205, 27, 44, 1);
$crimson: rgba(238, 49, 57, 1);
$orange: rgba(255, 167, 0, 1);
$pink: rgba(229, 40, 67, 1);
$black: rgba(57, 57, 57, 1);
$drank: rgba(0, 0, 0, 1);
$drank-transparency: rgba(0, 0, 0, 0.1);
$purple: rgba(84, 0, 84, 1);
$red-light: rgba(230, 33, 23, 1);

/*Mixin*/
@mixin combinations-blue{
    background: $blue;
    color: $white;
}

@mixin combinations-green{
    background: $green;
    color: $white;
}

@mixin combinations-red{
    background: $red;
    color: $white;
}

@mixin combinations-pink{
    background: $pink;
    color: $white;
}

@mixin combinations-yellow{
    background: $yellow;
    color: $white;
}


/*Span*/
.span-blue, .span-blue:hover{
    @include combinations-blue;
}
.span-green, .span-green:hover{
    @include combinations-green;
}
.span-red, .span-red:hover{
    @include combinations-pink;
}
.span-pink, .span-pink:hover{
    @include combinations-pink;
}
.span-yellow, .span-yellow:hover{
    @include combinations-yellow;
}


/*Text*/

.text-yellow{
    color: $yellow;
}

.text-gray{
    color: $gray;
}
.text-blue{
    color: $blue;
}
.text-green{
    color: $green;
}
.text-red{
    color: $red;
}
.text-black{
    color: $black;
}
.text-white{
    color: $white;
}

.text-center{
    text-align: center;
}

.text-bold{
    font-weight: bold;
}
.text-italic{
    font-style: italic;
}
.text-upper{
    text-transform: uppercase;
}

/*margin*/

.margin-bottom-remove{
    margin-bottom: 0px;
}
.margin-top-remove{
    margin-top: 0px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-top-10{
    margin-top: 10px;
}

.padding-both{
    padding-left: 15px;
    padding-right: 15px;
}
/*Button*/
.btn-straight{
    border-radius: 0px;
}
.btn-yellow, .btn-yellow:hover{
    background: $yellow;
    color: $white;
    border: 2px solid $yellow;
}

.btn-green, btn-green:hover{
    background: $green;
    color: $white;
    border: 2px solid $green;
}


.btn-feedback{
    margin-left: 5px;
}

.btn-feedback-more, .btn-feedback-more:hover{
    background: $yellow;
    color: $drank;
    text-shadow: none;
    border: 1px solid $yellow;
    font-weight: 500;
}
.btn-feedback-more:hover{
    font-weight: bold;
}

/*Base*/
html{
    font-size: 62.5%;
    background: $background;
    -webkit-text-size-adjust: none;

    /*Disable coppy*/
    -moz-user-select: none;
    -webkit-user-select: none;
}

body{
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: $black;
    font-size: 1.4rem;
    background: $background;
    margin-bottom: 50px;
}

*{
    margin: 0px;
    padding: 0px;
}
li{
    list-style:none;
}
a, a:hover{
    text-decoration: none;
    cursor: pointer;
}
a:focus, a:active{
    cursor: pointer;
    outline: none;
}

.nav-route a:focus, .nav-route a:active{
    background: #cecece;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.clearfix{
    clear: both;
}
/*Fix Safari*/
a, a:active, a:focus, a:hover{   
-webkit-tap-highlight-color: rgba(0,0,0,0);
}


/*Fix UIKIT*/
.uk-container-simon{
    padding: 0 15px !important;
}
.uk-navbar{
    border-radius: 0px;
    background: #fcfcfc;
    border: 1px solid transparent;
}

.uk-navbar-nav > li > a{
    text-shadow: 0 0px 0 $white;
}

.uk-navbar-toggle{
    text-shadow: 0 0px 0 $white;
}

.uk-button{
    font-size: 1.4rem;
}
.uk-panel-box{
    padding: 10px;
}

.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li.uk-open > a {
    background-color: transparent;
    color: $black;
    outline: none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

.menu-seting{
    .icon-times{
        display: none;
    }
}

@media screen and (max-width: 414px){
    .uk-offcanvas-bar{
        width: 100%;
    }

    .menu-seting{
        .icon-times{
            display: block;
            position: absolute;
            top: 0;
            padding: 5px 15px;
            right: 0;
            font-size: 1.8rem;
            color: $gray;
        }
    }
}



/*Custom Emoji*/


html,body{ 
    margin:0; 
    padding:0;         
    height:100%;
    width:100%;
    background: $white;
}

@media screen and (min-width: 568px){
    .screen-magic{
        height:100%;
        width:100%;
        overflow:hidden; /* or overflow:auto; if you want scrollbars */
    }
}

.word-tip{
    color: $gray;
    font-size: 3.2rem;
    margin-top: 5%;
    margin-bottom: 6%;
}

@media (max-width: 568px) {
    .word-tip{
        font-size: 2.4rem;
        margin-bottom: 5px;
    }
}

.box-emoji{
    .emoji-item{
        margin: 15px;
        cursor: pointer;

        .emoji{
            width: 219px;
        }

        .emoji-note{
            font-size: 1.8rem;
        }

    }
}


@media screen and (max-width: 479px){
    .box-emoji{
        .emoji-item{
            margin: 10px;
            
            .emoji{

                width: 100px;

            }
            .emoji-note{
                margin-top: 5px;
                margin-bottom: 0px;
            }

        }
    }
}


/*Topic*/

.screen-topic{
    
    .guide-box{
        background: $yellow;
        padding: 8px 15px;
        border-bottom: 1px solid $gray-light;
        .guide{
            margin: 0px;
            color: $blue-drank;
            font-weight: bold;
        }
    }
}

    .guide-box{
        background: $yellow;
        padding: 8px 15px;
        border-bottom: 1px solid $gray-light;
        .guide{
            margin: 0px;
            color: $blue-drank;
            font-weight: bold;
        }
    }


.control-center{
    position: fixed;
    height: 48px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding: 3px 15px;

    .uk-button{
        height: 43px;
        font-size: 1.8rem;
    }
}


.topic-box{
    padding: 15px 0px;

    .topic-item{

        .box-overlay{
            border-radius: 100%;
            width: 128px;
            height: 128px;
            margin: 0 auto;
            position: relative;

            .active{
                display:none;
            }
            .overlay{
                background: rgba(0, 0, 0, 0.5);
                border-radius: 100%;
                width: 100%;
                height: 100%;
                position: absolute;
                top:0;
                right:0;
                z-index:9;
            }

            .checked{
                position: absolute;
                top: 3px;
                right: 3px;
                z-index:10;
            }
        }

        .topic{
            border-radius: 100%;
            cursor: pointer;
            width: 128px;
            height: 128px;

            &:focus, &:active{
                outline: none;
            }
        }

        .topic-note{
            margin-top: 3px;
        }
    }
}


/*Panel*/
.panel-box{
    margin-left: -15px;
}
.panel{
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    margin-top: 10px;



    .panel-name{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background: $gray-light;
        color: $drank;
        text-align: center;
        padding: 8px 0;
    }

    .panel-body{
        padding-left: 0px;
        overflow-y: scroll;
        height: calc( 100vh - 150px);
        .item{
            padding: 6px 3px;
            border-top: 1px solid $gray-light;
            border-left: 1px solid $gray-light;
            border-right: 1px solid $gray-light;

            img.reason-thumbnail{
                width: 40px;
                height: 40px;
            }

            &:last-child{
                border-bottom: 1px solid $gray-light;
            }
        }

        .item.active{
            background: url('../images/icon/checked_reason_28.png') no-repeat right center;
            background-size: 18px 18px;
        }
    }
}

/*Basic Choice reason*/
.container-flex{
    padding: 0 0px;
}

.choice-reason{
    
    overflow-y: scroll;
    height: calc(100vh);
    border-right: 1px solid $gray-light;

    .choice-name{
        background: $gray-light;
        color: $drank;
        text-align: center;
        padding: 10px 0;
    }

    .choice-body{
        padding-left: 0px;
        .item{
            padding: 6px 5px;
            border-bottom: 1px solid $gray-light;

            img.reason-thumbnail{
                width: 40px;
                height: 40px;
            }

            &:last-child{
                border-bottom: 1px solid $gray-light;
            }
        }

        .item.active{
            background: url('../images/icon/checked_reason_28.png') no-repeat right center;
            background-size: 18px 18px;

            .reason-thumbnail{
                -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
                filter: grayscale(50%);
                opacity: 1;
            }
        }
    }
}





/*Feedback*/
.screen-feedback{
    height: 100%;
    width: 100%;
    background: $drank;
}

.wrap-feedback{
    background: $white;
    border-radius: 5px;
    margin-top: 15px;

    .title-box{
        background: $yellow;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;

        .title-text{
            margin: 0;
        }
    }

    .feedback-form{
        padding: 15px;
    }
}

/*Screen Reason Feedback*/
.screen-reason{
    
    .wrap-feedback{
        margin-top: 0px;

        .title-box{
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }

        .grid-feedback{

            overflow-y: scroll;
            height: calc( 100vh - 70px);

        }
    }
}


.help-block{
    margin-top: 15px;
    margin-bottom: 5px;
}

.text-roar{
    font-size: 1.8rem;
    line-height: 2.2rem;
    display: block;
    padding-top: 5px;
    margin-bottom: -5px;
}

.text-roar + .text-rule{
    padding-top: 7px;
    margin-bottom: 7px;
}
.text-rule{
    opacity: 0.9;
}


/*Screen Thanks*/
.screen-thanks{
    height: 100%;
    width: 100%;
    background: #0655a9;

    position: relative;

    .close-grab{
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.8;
        padding: 10px 10px 30px 30px;
    }

    .wrap-thanks{
        padding-top: 50px;
        padding-bottom: 50px;

        .img-checked{
            width: 80px;
        }

        .say-thanks,p{

            color: $white;
        }

        .say-thanks{
            font-size: 2.2rem;
        }

        .tm-button-download {
            margin: 15px 0;
            box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
            background: #fff;
            border: none;
            color: #2ba3d4 !important;
            padding: 0 20px;
            line-height: 40px;
            font-size: 18px;
            width: 219px;
        }
    }
}

.reload{
    cursor: pointer;
}