/*Varibles*/
$yellow: #ffc801;
$blue-drank: #171c2f;


$background: rgba(240, 239, 245, 1);
$gray: rgba(153, 153, 153, 1);
$gray-light: rgba(221, 221, 221, 1);
$white: rgba(254, 254, 254, 1);
$blue: rgba(67, 118, 221, 1);
$blue-light: rgba(41, 172, 228, 1);
$green: rgba(21, 187, 146, 1);
$red: rgba(205, 27, 44, 1);
$crimson: rgba(238, 49, 57, 1);
$orange: rgba(255, 167, 0, 1);
$pink: rgba(229, 40, 67, 1);
$black: rgba(57, 57, 57, 1);
$drank: rgba(0, 0, 0, 1);
$drank-transparency: rgba(0, 0, 0, 0.1);
$purple: rgba(84, 0, 84, 1);
$red-light: rgba(230, 33, 23, 1);




/*General*/
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #67686a;
    font-size: 1.4rem;
    background: $white;
}

p.tip{
	font-size: 1.2rem;
	color: #8f8f8f;
}

.text-center{
	text-align: center !important;
}

.screen{
	padding: 25px;
}


/*Screen scancode*/
.screen-scancode{

}


.box-scancode{

    border-radius: 15px;
    border: 1px solid #ececec;
    background: #f6f5f4;


    .head-box{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background: $yellow;
        padding: 10px;
        font-size: 1.6rem;
        margin-bottom: 35px;
        border: 1px solid $yellow;
    }

    .body-box{
     padding: 10px;
    }

    .foot-brand{
        margin-top: 45px;
        border-top: 1px solid #efefef;
        .foot-brand-name{
            display: block;
            padding: 10px 0;
            color: #c3bfb8;
        }
    }
}



/*Screen Thanks*/
.screen-thanks{
    height: 100%;
    width: 100%;
    background: #0655a9;

    position: relative;

    .close-grab{
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.8;
        padding: 10px 10px 30px 30px;
    }

    .wrap-thanks{
        padding-top: 50px;
        padding-bottom: 50px;

        .img-checked{
            width: 80px;
        }

        .say-thanks,p{

            color: $white;
        }

        .say-thanks{
            font-size: 2.2rem;
        }

        .tm-button-download {
            margin: 15px 0;
            box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
            background: #fff;
            border: none;
            color: #2ba3d4 !important;
            padding: 0 20px;
            line-height: 40px;
            font-size: 18px;
            width: 219px;
        }
    }
}

/*Screen react*/
.screen-react{
	
	.emoji{

		margin-top: 219px;

		img{
			width: 69px;
		}

		p{

		}
	}
}
.screen-feedback{
	margin-bottom: 159px;
	.about{
		font-size: 1.32rem !important;
	}
}

.foot-feedback{
	border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important;
	background: #3e0052;
	color: #fff;
	padding: 15px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}


/*Feedback*/
.screen-opinion{
    height: 100%;
    width: 100%;
    background: #3e0052;
}

.wrap-feedback{
    background: $white;
    border-radius: 5px;
    margin-top: 15px;

    .head-box{
        background: $yellow;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;

        .title-text{
            margin: 0;
            font-size: 1.2rem;
        }
    }
    .body-box{
        padding: 15px;
    }

    .btn-final{
    	.text-roar{
    		text-transform: uppercase!important;
    		font-size: 1.4rem;
		    line-height: 1.8rem;
		    display: block;
    	}
    	.text-rule {
    		font-size: 1.2rem;
		    line-height: 1.4rem;
		    font-weight: 300;
		    opacity: 0.8;
		}
    }
}