/*Varibles*/
/*General*/
body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  line-height: 1.42857143;
  color: #67686a;
  font-size: 1.4rem;
  background: #fefefe; }

h1, h2, h3, h4, h5, h6, p, span, button {
  font-family: 'Roboto', sans-serif !important; }

p.tip {
  font-size: 1.2rem;
  color: #8f8f8f; }

.text-center {
  text-align: center !important; }

.screen {
  padding: 25px; }

/*Screen scancode*/
.screen-scancode {
  border-radius: 15px; }
  .screen-scancode .head-box {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #ffc801;
    padding: 10px;
    font-size: 1.6rem;
    border: 1px solid #ffc801; }
  .screen-scancode .body-box {
    padding-top: 35px;
    padding-bottom: 45px;
    background: #f6f5f4;
    padding: 10px; }
  .screen-scancode .foot-brand {
    background: #f6f5f4;
    border-top: 1px solid #dddddd;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; }
    .screen-scancode .foot-brand .foot-brand-name {
      display: block;
      padding: 10px 0;
      color: #c3bfb8; }
      .screen-scancode .foot-brand .foot-brand-name .brand {
        text-transform: uppercase;
        font-weight: bold; }

/*Welcome*/
.screen-sayhello {
  height: 100%;
  width: 100%;
  text-align: center; }
  .screen-sayhello .logo {
    margin-top: 35px;
    width: 180px; }
  .screen-sayhello .core {
    position: fixed;
    bottom: 100px;
    right: 0px;
    left: 0px;
    padding: 25px; }
  .screen-sayhello .sayhello {
    margin-top: 55px; }
  .screen-sayhello .copyright {
    float: right;
    color: #dddddd;
    font-size: 1rem;
    position: fixed;
    bottom: 5px;
    right: 5px; }
    .screen-sayhello .copyright .brand {
      color: #999999;
      font-weight: bold; }
      .screen-sayhello .copyright .brand:hover {
        color: #4376dd; }
  .screen-sayhello .go-react {
    color: #393939 !important;
    font-weight: bold; }

/*Screen Thanks*/
.screen-thanks {
  height: 100%;
  width: 100%;
  background: #0655a9;
  position: relative; }
  .screen-thanks .close-grab {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;
    padding: 10px 10px 30px 30px; }
  .screen-thanks .wrap-thanks {
    padding-top: 50px;
    padding-bottom: 50px; }
    .screen-thanks .wrap-thanks .img-checked {
      width: 80px; }
    .screen-thanks .wrap-thanks .say-thanks, .screen-thanks .wrap-thanks p {
      color: #fefefe; }
    .screen-thanks .wrap-thanks .say-thanks {
      font-size: 2rem; }
    .screen-thanks .wrap-thanks .tm-button-download {
      margin: 15px 0;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
      background: #fff;
      border: none;
      color: #2ba3d4 !important;
      padding: 0 20px;
      line-height: 40px;
      font-size: 18px;
      width: 219px; }

/*Screen react*/
.screen-react .emoji {
  position: fixed;
  bottom: 100px;
  right: 0;
  left: 0;
  padding-left: 15px;
  padding-right: 15px; }
  .screen-react .emoji .item {
    padding-left: 0px !important;
    padding-right: 0px !important; }
  .screen-react .emoji img {
    width: 69px; }

.screen-feedback {
  margin-bottom: 39px; }
  .screen-feedback .about {
    font-size: 1.32rem !important; }
  .screen-feedback .ui.checkbox {
    display: block !important; }

.foot-feedback, .foot-guide {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  background: #3e0052;
  color: #fff;
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }
  .foot-feedback .compress, .foot-guide .compress {
    float: right; }

.guide {
  position: fixed;
  bottom: 0;
  right: 0; }
  .guide i {
    font-size: 1.8rem;
    color: #4376dd; }

/*Feedback*/
.screen-opinion {
  height: 100%;
  width: 100%;
  background: #3e0052; }

.wrap-feedback {
  background: #f6f5f4;
  border-radius: 5px;
  margin-top: 25px;
  padding: 15px;
  border: 1px solid #dddddd; }
  .wrap-feedback .head-box {
    background: #ffc801;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px; }
    .wrap-feedback .head-box .title-text {
      margin: 0;
      font-size: 1.2rem; }
  .wrap-feedback .btn-final .text-roar {
    text-transform: uppercase !important;
    font-size: 1.4rem;
    line-height: 1.8rem;
    display: block; }
  .wrap-feedback .btn-final .text-rule {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 300;
    opacity: 0.8; }

.tip-to-opinion {
  margin-bottom: 3px;
  font-size: 1.2rem; }

.step {
  margin-bottom: 25px;
  display: block; }
  .step .item {
    width: 32%;
    height: 10px;
    border-radius: 5px;
    background: #dddddd;
    float: left; }
  .step .item + .item {
    margin-left: 1%; }
  .step .active {
    background: #fab059; }

/*FIX*/
.ui.multiple.dropdown > .label {
  padding: 5px 5px !important; }

.ui.label > img {
  height: 1.1666em !important; }

.ui.selection.dropdown .menu > .item {
  font-size: 1.2rem; }

.ui.multiple.dropdown > .label {
  font-size: 1.2rem; }

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .ui.selection.dropdown .menu {
    max-height: 14rem; } }

/*# sourceMappingURL=listen.css.map */
